{{#liquid-if addNewQuestion}}
  <form>
    <label for="title">Question:</label><br>
    {{input value=title id="title"}}<br>
    <label for="author">Author:</label><br>
    {{input value=author id="author"}}<br>
    <label for="notes">Notes:</label><br>
    {{textarea value=notes id="notes"}}<br>
    <button {{action 'save1'}}>Save</button>
  </form>
{{else}}
  <button {{action 'questionFormShow'}}>New Question</button>
{{/liquid-if}}
